body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

.wrapper{
    display:flex;
}

@media screen and (max-width: 600px) {
body{
width:100vw;
background-color:tan;
}
    .wrapper{
        width:100%;
        display:block;
    }
    .img-left{
        width:100%;
    }
    .info-right{
        width:100vw;
    }
    .topper{
    font-family: 'Pacifico', sans-serif;
    margin-left:0px;
    }
h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
}


@media screen and (min-width: 601px) {
.img-left{
    width: 16vw;
    height:auto;
    padding: 5px;
    background-color:grey;
    height:auto;
    margin-left: 25vw;
    min-height: 100%;
}
.topper{
    font-family: 'Pacifico', sans-serif;
    margin-left:25vw;
}

}
img{
    width:100%;
    height:auto;
}

.about {
    display:flex;
    align-items:center;
    height: auto;
    background-color:grey;
    width: 30vw;
    height:30px;
}
.about h2{
    padding-left:10px;
}

.info-right{
    margin-top:20px;
    display: flex;
    flex-direction:column;
    width:30vw;
}

.start{
    margin-top:20px;
}

#space-between{
    width:20px;
}

.btn{
    font-size: 14px;
    width:90px;
    display:flex;
    align-items:center;
    justify-items: center;
    background-color:red;
    border-radius:10px;
    padding: 10px 5px;
    height:6px;
    margin-bottom: 20px;
}

.btn a{
    color:white;
    text-decoration: none;
}

#second th{
    display:block;
    width:100%;
}

table{
    border-spacing:0px;
    font-size: 14px;
    margin-bottom: 20px;
}

tr{
    display: flex;
    align-items: stretch;
}


td{
    display: flex;
    align-items: stretch;
}


th, tr, td{
    height: auto;
    border-color:white;
    border-left:0.5px solid white;
    border-bottom:0.5px solid white;
}

form, label{
    margin-top:20px;
}

form>div, label{
    margin-left:10px;
    margin-bottom:3px;
}

input, textarea, select, option{
    color:white;
    width:100%;
    border:2px solid red;
    background-color:grey;
    border-radius:5px;
}

.ans-wrapper{
    display:flex;
}
.ans-wrapper>input, .ans-wrapper>span{
    width:auto;
}


.sbmt{
    width:10vw;
}

.footer{
    height: 10vw;
    border: 5px solid black;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:white;
    color:black;
    padding-right: 25vw;
}